* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header {
  min-height: 14vh;
  background-color: rgb(76, 36, 116);
  padding-top: 0;
}

header > .container h1 {
  color: rgb(255, 255, 255);
}

.text-url {
  margin-bottom: 1em;
}

.container .row > .text-url {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.title {
  margin-bottom: 0.5em;
  border: 1px solid;
}

.photo-url {
  border: 1px solid;
}

.container .row .textarea {
  display: flex;
  flex-direction: column;
}

.container .row .textarea > textarea {
  min-height: 30vh;
  margin-bottom: 0.8em;
  border: 1px solid;
}

.save {
  background-color: rgb(76, 36, 116);
  color: rgb(255, 255, 255);
  flex-basis: calc(100% / 2);
}

div[data-view='entry-form'] .row .deleteButton {
  width: calc(100% / 2);
  text-align: left;
}

div[data-view='entry-form'] .row .deleteButton button {
  color: rgb(245, 92, 89);
  border: none;
  text-decoration: underline;
  background-color: rgb(255, 255, 255);
  font-size: xx-small;
}

div[data-view='entry-form'] .row .submit {
  width: calc(100% / 2);
  text-align: right;
  padding-right: 2.5%;
}

div[data-view='entry-form'] .row .defaultSubmit {
  width: 100%;
  text-align: right;
  padding-right: 2.5%;
}

img {
  width: 100%;
}

.container .row img {
  width: 100%;
}

.entriesLink {
  color: rgb(255, 255, 255);
  margin-top: 2em;
  text-decoration: none;
}

.newEntriesLink {
  color: rgb(255, 255, 255);
  background-color: rgb(76, 36, 116);
  border-radius: 9px;
  height: 2.5em;
  width: 4em;
  margin-top: 0.6em;
  text-decoration: none;
  padding-left: 0.7em;
  padding-top: 0.6em;
}

.entriesBar {
  display: flex;
  justify-content: space-between;
  max-height: 4em;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container .navbar {
  display: flex;
  column-gap: 1em;
  padding-left: 1.75rem;
}

div[data-view='entries'] ul li {
  display: flex;
  row-gap: 0;
  margin-left: 0;
  margin-right: 0;
}

div[data-view='entries'] ul {
  padding-right: 2em;
}

div[data-view='entries'] ul li div {
  display: flex;
  flex-wrap: wrap;
}

div[data-view='entries'] ul li div h4 {
  flex-basis: calc(100% / 2);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div[data-view='entries'] ul li div i {
  flex-basis: calc(100% / 2);
  position: relative;
  top: 0.5em;
  left: 42%;
}

div[data-view='entries'] ul li div p {
  margin-top: 0;
  flex-basis: 100%;
}

dialog .modal-action {
  display: flex;
  justify-content: space-around;
}
