* {
  box-sizing: border-box;
}

body {
  /*   border: 1px solid red; */
  margin: 0 auto;
}

header {
  min-height: 14vh;
  background-color: rgb(76, 36, 116);
  padding-top: 0;
}

header > .container {
  border: solid rgb(76, 36, 116);
}

header > .container h1 {
  color: rgb(255, 255, 255);
}

.text-url {
  margin-bottom: 1em;
}

.container .row > .text-url {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 1em;
}

.container .row .textarea {
  display: flex;
  flex-direction: column;
}

.container .row .textarea > textarea {
  min-height: 30vh;
  margin-bottom: 0.8em;
}

.save {
  background-color: rgb(76, 36, 116);
  color: rgb(255, 255, 255);
}

.submit {
  text-align: right;
}

img {
  width: 100%;
}

.container .row img {
  width: 100%;
}

.entriesLink {
  color: rgb(255, 255, 255);
  margin-top: 2em;
  text-decoration: none;
}

.newEntriesLink {
  color: rgb(255, 255, 255);
  background-color: rgb(76, 36, 116);
  border-radius: 9px;
  height: 2.5em;
  width: 4em;
  margin-top: 0.6em;
  text-decoration: none;
  padding-left: 0.7em;
  padding-top: 0.6em;
}

.entriesBar {
  display: flex;
  justify-content: space-between;
  max-height: 4em;
}

.container .navbar {
  display: flex;
  column-gap: 3em;
}
